@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
}


*::-webkit-scrollbar {
    width: 6px;

    height: 6px;

}

*::-webkit-scrollbar-track {
    background: #f8fafc;

    border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
    background: #e2e8f0;

    border-radius: 3px;
    border: 1px solid #f1f5f9;

}

*::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;

}


* {
    scrollbar-width: thin;
    scrollbar-color: #e2e8f0 #f8fafc;
}